In [2]:
import numpy as np
import pandas as pd
import json

In [3]:
data_b = pd.read_csv('./data/B.txt', header=None, prefix = 'X', delimiter=' ')
data_b['is_selected'] = False

In [4]:
data_b

         X0      X1  is_selected
0    1.4629  1.7974        False
1    1.4984  1.5395        False
2    0.5565  0.7249        False
3    0.8081  1.9161        False
4    1.4016  0.8231        False
..      ...     ...          ...
213  1.4274  1.7278        False
214  0.8145  1.3389        False
215  1.0242  1.8874        False
216  0.3210  1.7564        False
217  0.6081  1.4781        False

[218 rows x 3 columns]

In [5]:
selectedData = {'points' : 
                [
                    {'x': 1.279,
                     'y': 1.519},
                    {'x': 1.2565,
                     'y': 1.4658}]
               }
s_data = json.dumps(selectedData, indent=2)
print(s_data)
if s_data != 'null':
    selected = json.loads(s_data)
    temp_x = []
    temp_y = []
    for point in selected['points']:
        #return point
        
        #--- update the is_selected column
        #data_b['is_selected'] = np.where(((data_b['X0'] == point['x']) & (data_b['X1'] == point['y'])), True, False)
        data_b.loc[(data_b['X0'] == point['x']) & (data_b['X1'] == point['y'])]['is_selected'] =  True
        #point['x']
        #point['y']
        temp_x.append(point['x'])
        temp_y.append(point['y'])
        #points = s_data['points']
    pointsdict = {
                'x' : temp_x,
                'y' : temp_y 
    }
    
data_b[data_b.is_selected == True]

{
  "points": [
    {
      "x": 1.279,
      "y": 1.519
    },
    {
      "x": 1.2565,
      "y": 1.4658
    }
  ]
}

/home/heramb/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Empty DataFrame
Columns: [X0, X1, is_selected]
Index: []